{% extends "blog.html" %}

<!-- details -->

{% block title %}<h1 style="color:#cfa29d; font-family:Quicksand light; font-size:3vw; text-align:center;">My Cambridge Rejection Story (yay)</h1>{% endblock %}

{% block description %}An imagined speech to my Mossbourne teachers and peers{% endblock %}

{% block image %}"../static/website aesthetics/pink/IMG-20200120-WA0000-01.jpg"{% endblock %}

<!-- // -->

{% block article %}

<h5>Note: In school, we have the opportunity to do little 5 minute speeches in Assembly for the whole year. It's an initiative to improve our oracy before we leave and go into the workforce or uni, or something. I wrote this for the hypothetical scenario where I would be doing a speech, something I will probably never actually do. Anyway, onwards:</h5>
<hr>
<p>As you may or may not know, I applied to and consequently got rejected from Cambridge this year.<br>
This may sound like I'm desperately attempting to hide my despair over not getting in, but I assure you that's not the case. I genuinely didn't want to apply to Cambridge. I wanted to stay here, in London, with my family, without accumulating a ton of student loan debt, and being to eat halal food. Fun fact, there are no HMC approved butchers or restaurants within 50 miles of Cambridge, so I would have had to become vegetarian or something, I don't even know.<br>
<br>
Anyway, throughout Year 12 I ignored Oxbridge entirely. I did not care. I did Early Applicants because it seemed fun and that was it. Then, at the beginning of this year, Mr Redgrove and Ms Gata Aura continued to 'strongly advise' me to apply to Oxbridge, and eventually, I caved.<br>
<br>
The beginning of Year 13 was a very difficult time for me as a result. I had to write my entire personal statement in a month, I needed to do my English coursework and my computer science course work (my classmates can tell you what a nightmare that is), I needed to stay on top of all of the math exercises, and I was going to mosque every day after school for two and a half hours. It was a lot. I felt like I wasn't doing enough, though. One of my friends did all of this while applying for medicine and doing four subjects so I felt so guilty for 'not doing enough'.<br>
<br>
I always knew deep down that I wasn't going to make it into Cambridge, but in the process of writing my personal statement and thinking about where to apply and the living situations and all of that stuff, I started to believe that it was a possibility when it was not. The immense amount of pressure that the school put on me during all of this was ridiculous and I was in one of the darkest places I had been in for as long as I can remember.<br>
<br>
I dropped out of mosque because I couldn't come in every day and I couldn't keep up because of the number of things that I had going on. I still regret that today. I wish I had stayed because it was something that I genuinely enjoyed and the friends I made there will be my friends for a lifetime. But I gave it all up because I had to keep up with the pressure and not collapse.<br>
<br>
Then it came to November and everyone had got their interview invitations and I was still waiting on mine. On the day that I got my rejection letter, I was actually very stressed about it and had a dream the night before in which I opened an email that told me that I got rejected. When I woke up and saw an email from UCAS telling me to check my account for an update, I had a sinking feeling. I was trying to be optimistic and I thought maybe I got an offer from the other unis, but I knew deep down what it was. I opened Track and saw the words 'your application has been unsuccessful' and it felt like a dream.<br>
<br>
I had to go to school and I had a free period first. I just sat there alone. I didn't tell anyone, I just couldn't process it. Everything I had done up to that point felt so pointless, like it was all for nothing. I still kind of feel that way now. Another reason for applying early was that the unis I actually wanted to go to would see me as a promising candidate if I applied early, but now it's February and I still don't have offers from them.<br>
<br>
At break, my friend came up to me, saying that he noticed that I was acting 'off'. He asked me if I was okay, and I finally told him. Then I told another friend, who hugged me, and another, who congratulated me on my 'escape' from Oxbridge, which made me laugh. Later, when someone asked me if I had heard back about my interview, I replied "yeah, but they decided to reject me instead". It was so matter-of-fact it was funny, then I started crying.<br>
<br>
My biggest regret this year was applying to Cambridge, giving up so much for something that I didn't really want and I couldn't really have. Looking back, I have so many regrets. I wish that the teachers had listened to me when I said I didn't want to apply, I wish that I had been more firm in my choices, I wish that I had continued studying at mosque and not given up. But I can't change what happened, and I have to move on now.<br>
<br>
But when I think back on that fateful Tuesday, I don't think of the pain, the disappointment, the guilt, the regret. I think of the kindness of my friends on that day. The friends who knew, despite me not saying anything, that I was upset. The friends that let me be upset but also helped cheer me up anyway, just spending time with me when I needed them. Even the Reddit people who just gave me stupid internet points and told me that Cambridge was missing out, despite not knowing anything about me. (Not the school, you fuckers did nothing)<br>
<br>
I don't know if you know, but I used to go to Clapton Girls and it's such a good school. It really is. It's a far better school than this one, in my opinion. I love the school but I hated most of the people in my year. On the flip side, I've never hated life as much as I've hated it while studying here, but the friends I've made here make it almost worth it, so to them, thank you.
</p>

{% endblock %}