{% extends "head_foot.html" %}
{% block content %}
		<section id ="title">
			<div class="center">
				<h1 style="color:#cfa29d; font-family:Quicksand light; font-size:4vw; text-align:center;">ATIYYAH'S NOTES</h1>
				<div class="intro">
					<p style="font-size:1vw; text-align:center;">In my opinion, you can tell a lot about a person and what kind of headspace they're in from the quotes they write down in their notebooks or the things they are inspired by or relate to. Here's my virtual notebook: I hope you find some sort of meaning from it or are inspired at all!</p>
				</div>
			</div>
		</section>
		<section class="banner">
			<div class="box">
				<img src="../static/homepage/banner.jpg" alt="Banner" class="center">
				<div class="text">
					<h2 style="font-family:Corbel; font-size:3.2vw;">"You see, the what ifs are as boundless as the stars"</h2>
					<p style="font-family:Corbel; font-size:1.5vw;">-Sally Gardener</p>
				</div>
			</div>
		</section>
		<section id="gallery">
			<div class="center">
				<div class="image">
					<div class ="first">
						<a target="_blank" href="../static/website aesthetics/mix/blossoms.jpg">
						<img src="../static/website aesthetics/mix/blossoms.jpg" alt="Blossoms">
						</a>
					</div>
				</div>

				<div class="image">
				  <a target="_blank" href="../static/website aesthetics/blue/IMG_20190810_140848.jpg">
					<img src="../static/website aesthetics/blue/IMG_20190810_140848.jpg" alt="Blue_triangle_roof">
				  </a>
				</div>

				<div class="image">
				  <a target="_blank" href="../static/website aesthetics/misc/cars.jpg">
					<img src="../static/website aesthetics/misc/cars.jpg" alt="Cars at night">
				  </a>
				</div>

				<div class="image">
				  <a target="_blank" href="../static/website aesthetics/grey/IMG_20190530_144519_688.jpg">
					<img src="../static/website aesthetics/grey/IMG_20190530_144519_688.jpg" alt="Grey_Windows">
				  </a>
				</div>
			 <div style="clear: both;"></div> 
			</div>
		</section>
{% endblock %}