{% extends "blog.html" %}

<!-- details -->

{% block title %}<h1 style="color:#cfa29d; font-family:Quicksand light; font-size:3vw; text-align:center;">Dealing with the Stress of A Levels</h1>{% endblock %}

{% block description %}Some techniques I use to deal with all of this{% endblock %}

{% block image %}"../static/website aesthetics/mix/library.jpg"{% endblock %}

<!-- // -->

{% block article %}

<p>A-Levels are stressful. When I was doing my GCSEs, I thought people complaining about their A-Levels were exaggerating a little, but I now understand the living hell that sixth formers (specifically year 13s) have to go through. I feel like I might tend to romanticise the past, and perhaps when I look back on these years in the future I will gloss over these bad moments, but for now, I would like to announce that I have never hated life as much as I have while studying A-Levels. I count down the weeks till I can finally be free, and it will be such a relief. I cannot wait.<br>
<br>
Till then, here are some stress handling techniques I have been using over the past few years. They have helped me ride it out thus far, so hopefully, they will be helpful to you all!<br>
<br>
One thing that has helped me kind of 'vent' about how I'm feeling is the very medium through which you're reading this: My 'notes'. I have a notebook where I write quotes from books I've read or particular lyrics that I feel like almost 'verify' how I'm feeling. It's kind of reassuring, this shared experience, knowing that other people have felt the same way. Also, sometimes it's hard to express yourself, to put your emotions into words, to truly dissect what exactly you feel, so other people's work can be a great outlet for this. If you don't really read (or maybe you're just more social than me), another way to accomplish this is to talk to the people around you. Your fellow students are likely going through similar things to you and just being able to vent or rant with them can be so cathartic. Even talking to friends about menial things or messing around can relieve stress.<br>
<br>
A minor thing I also do is, when I'm feeling happy, I write down the date and just a few words about it in my notes app to almost 'commemorate' the moment. Then, later, just reading about these little moments might bring a smile to my face when I'm not feeling as good.<br>
<br>
Also, I severely underestimate the power of exercise and its ability to relieve stress. While I don't work out as much as I perhaps should, I do agree that there's something cathartic about putting on some music and going for a run (or a fast walk if you're me), the beat of the music matching up with your footsteps. I'd recommend <a href="https://www.youtube.com/watch?v=Dab4EENTW5I">Miroh by Stray Kids</a> for this, it's my go-to walking song.<br>
<br>
Something I find useful is finding a way to channel my creativity, which I don't really have an opportunity to cultivate in school. One example is writing these 'notes' I talked about in my notebook. I occasionally write poetry, which sounds kind of cringy, but I might as well get *some* use out of my English studies. In all seriousness, though I might look back and cringe at the things I have written, they do represent my true feelings that I felt at that time, and those moments I took out to reflect helped me find 'clarity'. That sounds so pretentious, but writing out how I felt on paper genuinely helped me navigate the 'haze' that comes with particularly strong feelings, which tend to cloud my rational mind<.br>
<br>
If you don't fancy writing out essays in your spare time, I also have found other 'creative outlets' that also help to relieve some tension I'm feeling. I used to sew a lot in primary school; I went to sewing club during lunch (can you tell I didn't have many friends?), but when I got to secondary school I stopped, reading more instead. I have pretty limited skills in the sewing department, but I've had fun mending and revamping a dress that my mum was going to throw out, and sewing a pillowcase for one of my various throw pillows.<br>
<br>
I'm terrible at drawing, but I've found doing little doodles on my revision materials is very soothing. This way, I can 'justify' it and feel like I'm still revising while getting that crucial downtime.<br>
<br>
Photo editing is also something I find really fun. When I post on Instagram, I try to edit my pictures a lot, making them vivid and bordering on looking 'unreal'. I mess around with the colours, filters and all of that and it's really fun for me. I also mess around in Photoshop, making ridiculous things and seeing what I can make with the software.<br>

<br>
Lastly, maybe I'm just a massive nerd, but I feel guilty whenever I'm not doing work. Whether you can relate or not, I think it's important to remember that taking breaks and 'turning off' your brain for a bit is a vital part of being productive. You don't need to beat yourself up for scrolling through Instagram for a bit or watching some YouTube videos. Watch anime, play Minecraft, watch videos of animals being cute. It's ok to do that.<br>
<br>
I hope this was somewhat useful; I just wanted to discuss things that actually help me as opposed to the generic things schools tell us. Hopefully, you could use or adapt what I've said to maintain your sanity in the weeks, months, even years to come :)<br>
Good luck! :)<br>
</p>

{% endblock %}