{% extends "blog.html" %}

<!-- details -->

{% block title %}<h1 style="color:#cfa29d; font-family:Quicksand light; font-size:3.5vw; text-align:center;">Sunlight and Raindrops</h1>{% endblock %}

{% block description %}A short fluff creative writing moment{% endblock %}

{% block image %}"../static/website aesthetics/pink/Raindrops_Pastel.jpg"{% endblock %}

<!-- // -->

{% block article %}

					<h5>
					This title is ridiculously pretentious, and I apologize.
					<br>I didn't think that my first post here would be creative writing, but here we are! Inspiration hits at the strangest of times, I guess...
					<br>I'm supposed to be revising for end of year exams right now, and I guess that my mind will take any opportunity to distract me. Certified procrastinator™, here!
					<br>Anyway, good luck with exams if you have any, you're going to kill it. 
					<br>Atiyyah x
					<br>
					<br>N.B: For this and any future creative writing posts, the bold sentence(s) or phrase signifies the image or concept that inspired me :) I'll also try to include a song that kind of fits the vibe, for your listening pleasure
					</h5>

					<hr>

					<h5>Song: Rewrite The Stars - The Greatest Showman</h3>

					<p>
					She leaned her head against the window, allowing the steady drum of the rain to soothe her aching head. The rain that left glowing droplets of water on the glass pane, each drop capturing the last pearls of sunshine in a miniature golden bead. Liquid gold. Hugging her knees to her body as she allowed her eyes to flutter shut, she smiled sadly at the phone she cradled against her face.
					<br>“Tell me I can see you soon. This distance hurts too much.”
					<br>A rush of static reverberated from the phone as he sighed.
					<br>“I’m trying.” 
					<br><b>His voice was tinny through the phone’s speakers, but it was enough.</b>
					<br>“Believe me, I would do anything to be by your side.”
					<br>She opened her eyes as the sun inched slowly below the horizon, the sky ablaze with vivid purples and oranges, despite the dense clouds that still drenched the surrounding countryside with an incessant flood of water, and shivered, curling herself up tighter.
					<br>“Damn." 
					<br>"Can you see it, too? The sunset?”
					<br>She could somehow sense his smile, despite the distance that separated them.
					<br>“Yes, I’ve got the greatest view from this apartment.” He paused. “But your face is far prettier.”
					<br>She laughed. “That was absolutely terrible. Abysmal.”
					<br>“Made you laugh, though… I can’t wait to hear that in person again.”
					<br>She pressed her hand against the glass wistfully, and, hundreds of miles away, a man in a business suit in a spacious, lonely apartment mirrored her, leaning his forehead against the glass also.
					<br>“I’m doing this for us, so don’t worry. I’ll get enough money and then come and get you and we’ll be a proper family and no one could stop us.” he murmured. “And we’ll find a gorgeous, massive house away from the cities and time will stop because we’ll be together and it’ll be beautiful.”
					<br>“And we’ll be unstoppable.” She whispered.
					<br>“And we’ll be unstoppable.” He smiled softly.
					<br>And so these two were united, glowing faintly as if lit from within. In this moment they are eternal.
					</p>
{% endblock %}